#interface-videos {
    width: 1900px;
    height: 2300px;
    background-color: rgba(196, 196, 196, 1);
    position: absolute;
    left: 50px;
    font-family: 'Roboto', sans-serif;
}

section#corpo-principal-videos {
    display: block;
    width: 1200px;
    float: left;
    padding: 10px;
    font-size: 30pt;
    padding-right: 80pt;
    border-right: 1px solid rgb(0, 0, 0);
}

aside#mais {
    display: block;
    width: 570px;
    float: right;
    font-size: 30pt;
    text-align: center;
}

iframe.filme{
    display: block;
    margin: 0 auto;
}